* {
    font-family: 'Roboto';
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.dashboard {
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3.75fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.upper-header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    padding-top: 2vh;
}

.top-left {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 1vw;
}

.top-left button {
    justify-self: end;
    padding-top: 0.5vh
}

input {
    background-color: #e2e8f0;
    border-radius: 15px;
    height: 4.5vh;
    border: none;
}

.top-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    padding-left: 2vw;
}

.notification {
    justify-self: end;
}

.user {
    justify-self: start;

}

.user {
    font-size: 19px;
    font-weight: bold;
}

.lower-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 2.5vh;
}

.lower-left {
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    margin-left: 2vh;
    gap: 1vw;
}

.profile-photo {
    justify-self: end;
}

.welcome {
    display: grid;
    justify-items: start;
    gap: 5px;
}

.welcome-top {
    font-size: 1vw;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    gap: 22px;
    padding-right: 2.5vw;
}

button {
    border: none;
    background-color: white;
}

.buttons button {
    background-color: #0ea5e9;
    border-radius: 22px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .4vw;
    padding-bottom: .4vw;
    color: white;
    font-size: 1.2vw;
    width: 7vw;
    height: 2.8vw;
}

.sidebar {
    background-color: #0ea5e9;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
}


li, .logo {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(9, .05fr);
    align-items: center;
    gap: 1.5px;
}

li {
    padding-left: 2vw;
}

.logo {
    padding-left: 1vw;
    align-content: center;
}

li p, .logo p {
    text-align: start;
}

.logo p {
    font-size: 2vw;
    padding-left: 0.5vw;
}

.main-content {
    background-color: #e2e8f0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}